<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">ยินดีต้อนรับ, Java Hipster!</span> (AGB App)</h1>

    <p class="lead" jhiTranslate="home.subtitle">นี่คือหน้าเวปเพจของคุณ</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >คุณได้เข้าระบบโดยใช้ชื่อ "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix"
          >Translation missing for global.messages.info.authenticated.prefix</span
        >
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">function link() { [native code] }</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix"
          >Translation missing for global.messages.info.authenticated.suffix</span
        >
      </div>
    </div>

    <p jhiTranslate="home.question">หากคุณมีคำถามเกี่ยวกับ JHipster:</p>

    <ul>
      <li>
        <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage">JHipster โฮมเพจ</a>
      </li>
      <li>
        <a
          href="https://stackoverflow.com/tags/jhipster/info"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.stackoverflow"
          >JHipster ที่ Stack Overflow</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jhipster/generator-jhipster/issues?state=open"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.bugtracker"
          >ติดตามการแก้ไขบัคของ JHipster</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat"
          >ห้องสนทนา JHipster</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow"
          >ติดตาม @jhipster ทางทวิตเตอร์</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like">ถ้าคุณชอบ JHipster, อย่าลืมให้ดาวกับเรา</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >GitHub</a
      >!
    </p>
  </div>
</div>
